<div class="m-2 px-5">
  <%= render partial: 'form', locals: { direct_recipient_id: nil } %>
  <% @statuses.each do |status| %>
    <div class="m-2 px-5 <%= status.reblog.present? ? 'border-2 border-blue-700' : '' %>">
      <%= render partial: status.reblog || status, locals: { child_view: false } %>
    </div>
    <hr />
  <% end %>
  <%= paginate @statuses %>
</div>
