<div class="m-2 px-5">
  <%= render partial: 'form', locals: { direct_recipient_id: nil } %>
  <% @statuses.each do |status| %>
    <%= render status.reblog || status %>
    <hr />
  <% end %>
  <%= paginate @statuses %>
</div>
