<div class="m-2 px-5">
  What's up?
  <%= render partial: 'form', locals: { direct_recipient_id: nil } %>
  <% @statuses.each do |status| %>
    <div class="m-2 px-5 <%= classes_for_type(status) %>">
      <%= render partial: status.reblog || status, locals: { child_view: false } %>
    </div>
    <hr />
  <% end %>
  <%= paginate @statuses %>
</div>
