<div id="<%= dom_id rule %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Text:</strong>
    <%= rule.text %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Priority:</strong>
    <%= rule.priority %>
  </p>

</div>
