<div class="w-full">
  <h1 class="font-bold text-4xl">Admin</h1>
  <div>
    <div id="admin">
      <br />
      <%= link_to 'Users', admin_users_path, class: "ml-2 rounded-lg my-3 py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to 'Accounts', admin_accounts_path, class: "ml-2 rounded-lg my-3 py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to 'Rules', admin_rules_path, class: "ml-2 rounded-lg my-3 py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to 'Statuses', admin_statuses_path, class: "ml-2 rounded-lg my-3 py-3 px-5 bg-gray-100 inline-block font-medium" %>
    </div>
  </div>
</div>
