<p style="color: green"><%= notice %></p>

<h1 class="px-3 my-3 text-2xl text-gray-700 font-bold">History</h1>

<div id="access_tokens" class="px-2">
  <% @access_tokens.each do |access_token| %>
    <%= render access_token %>
  <% end %>
</div>
