<h2 class="my-3 px-3 text-2xl text-gray-700 font-bold">Search</h2>

<%= form_tag searches_path do %>
  <div class="px-3">
    <%= label_tag :webfinger %><br />
    <%= text_field_tag :webfinger, params[:email] %>
  </div>
  <div style="width: 220px; height: 40px;">
    <button style="float: right" class="py-1 px-2 bg-blue-600 border-2 border-blue-700 hover:bg-blue-100 hover:text-blue-600 rounded-lg my-3 text-blue-100 transition-colors duration-300"><%= submit_tag "Search"%></button>
  </div>
<% end %>
