<div class="mt-4 px-5">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Statuses</h1>
  </div>
  <%= turbo_stream_from ["admin_statuses_channel", current_user] %>
  <%= render partial: 'search_with_results' %>
</div>
