<%= render partial: 'authorization_code', locals: { authorization_code: @authorization_code } %>

<div>
  <% unless @authorization_code.access_token_expired? %>
    <%= button_to "Revoke this token", @authorization_code.access_token, method: :delete, style: 'text-decoration: underline' %>
  <% end %>

  <%= link_to "Back to history", authorizations_path %>
</div>
