<div id="<%= dom_id account %>" class="m-2 px-5">
  <p class="font-bold">
    <img src = "<%= account.icon %>"><%= link_to name(account), account %>
  </p>

  <p class="text-gray-800">
    <%= account.username %>
  </p>
</div>
