<h1 class="px-3 my-3 text-2xl text-gray-700 font-bold">Following (<%= @follows.count %>)</h1>

<div id="following" class="px-2">
  <% @follows.each do |follow| %>
    <%= render follow.target_account %>
    <hr />
  <% end %>
  <%= paginate @follows %>
</div>
