<h1 class="px-3 my-3 text-2xl text-gray-700 font-bold">Followers (<%= @followers.count %>)</h1>

<div id="followers" class="px-2">
  <% @followers.each do |account| %>
    <%= render account %>
    <hr />
  <% end %>
</div>
