<h1 class="px-3 my-3 text-2xl text-gray-700 font-bold">Accounts</h1>

<div id="accounts" class="px-2">
  <% @accounts.each do |account| %>
    <%= render account %>
  <% end %>
  <%= paginate @accounts %>
</div>
